* {
  top: 0;
  left: 0;
}

html , body {
  font-family: Flavors, cursive;
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
  background-color: rgb(148, 241, 179);
}

header {
  height: auto;
  margin-bottom: 200px;
  background-color: rgb(175, 235, 235);
}

#title {
  letter-spacing: 5px;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#color-palette {
  margin: 0 auto;
  padding-left: 0; /* ! important; */
  list-style: none;
}

.color {
  border-radius: 50%;
  list-style: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: 1px solid black;
}

#pixel-board {
  display: table;
}

.pixel {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: 1px solid black;
  display: inline-block;
}

#clear-board {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

#generate-board {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

#board-size {
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}


.main {
  height: 100%;
  width: 40%;
  background-color: rgb(175, 235, 235);
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

